:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
    margin: 8px 80px;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 46px;
    /* max-width: 960px; */
    flex-direction: column;
    align-items: center;
}

.centered-text {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    color: black;
    /* font-weight: 700; */
    font-size: 26px;
}

.container {
    background-color: #fce4cd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.612);
    /* margin:0; */
  }

  .search{
    justify-content: space-between;
    text-align: left; 
  }

  .search input[type="text"] {
    width: 1000px; 
  }

  .card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  
  .title {
    margin: 8px 20px;
    font-size: 26px;
    /* font-weight: 700; */
  }

  .square {
    width: 500px; 
    height: 430px; 
    border: 1px solid black;
    background-color: #cfe2f3;
}
  
  .button1 {
    background-color: #93c47d;
    color: black;
    padding: 10px 35px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    border: 1px solid rgba(0, 0, 0, 0.612);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}
.button1:hover {
  background-color: #7fa961; 
}
.button1:active {
  background-color: #6c8b4f;
}

.button2 {
  background-color: #6fa8dc;
  color: black;
  padding: 10px 35px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  border: 1px solid rgba(0, 0, 0, 0.612);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}
.button2:hover {
  background-color: #5c94c4; /* Couleur de fond au survol du bouton */
}
.button2:active {
  background-color: #4c80b0; /* Couleur de fond pendant le clic */
}

.button3 {
  background-color: #ff9900;
  color: black;
  padding: 10px 35px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  border: 1px solid rgba(0, 0, 0, 0.612);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}
.button3:hover {
  background-color: #e68900; /* Couleur de fond au survol du bouton */
}
.button3:active {
  background-color: #d47a00; /* Couleur de fond pendant le clic */
}

.button4 {
  background-color: #6aa84f;
  color: black;
  padding: 10px 35px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  border: 1px solid rgba(0, 0, 0, 0.612);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}
.button4:hover {
  background-color: #4a7d37; /* Couleur de fond au survol du bouton */
}
.button4:active {
  background-color: #3e6f31; /* Couleur de fond pendant le clic */
}

.button5 {
  background-color: #e06666;
  color: black;
  padding: 10px 35px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  border: 1px solid rgba(0, 0, 0, 0.612);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
}
.button5:hover {
  background-color: #cc5959; /* Couleur de fond au survol du bouton */
}
.button5:active {
  background-color: #b74d4d; /* Couleur de fond pendant le clic */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.details {
  margin-top: 100px;
  display: flex;
  flex-direction: space-between; 
}

.details1{

}

.details2 {
  margin-left: 59px; 
}
.details3{
  display: grid;
  flex-direction: row; 
  align-items: center; 
  height: 407px;
  margin-left: 59px;
}

.details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.details li {
  padding: 5px 0;
}

.details li:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .search input[type="text"] {
    width: 400px; 
  }
}

@media screen and (max-width: 575px) {
    .search input[type="text"] {
    width: 250px; 
  }
}