<div class="toolbar" role="banner">
  <span class="centered-text">{{title}}</span>
</div>

<div class="content" role="main">

  <div class="container">

    <div class="search">
      <input type="text" placeholder="Enter Delivery ID">
      <button class="button1">Submit</button>
    </div>
    <div class="details">
      <div class="details1">
        <h2>Package Details</h2>
        <ul>
          <li>Description</li>
          <li>Weight</li>
          <li>height</li>
          <li>depth</li>
        </ul>
        <h2>Delivery Details</h2>
        <ul>
          <li>Pickup-time</li>
          <li>Start_time</li>
          <li>End_time</li>
          <li>Location</li>
        </ul>
      </div>
      <div class="details2">
        <div class="square">

        </div>
      </div>
    </div>

  </div>


</div>


<router-outlet></router-outlet>